<div class = "row">
  <div class="col">
    <p id="notice"><%= notice %></p>

    <p>
      <img src="<%= @post.image %>"  width=512 height=512 />
    </p>

    <p>
      <strong>Caption:</strong>
      <%= @post.caption %>
    </p>

    <p>
      <strong> Likes: </strong>
      <%= @post.likes.count %>
    </p>

    <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
    <% if pre_like %>
      <%= link_to 'Unlike', post_like_path(@post, pre_like), :method => :delete %> |
    <% else %> 
      <%= link_to 'Like', post_likes_path(@post), :method => :post %> | 
    <% end %> 
    <% if @post.user_id == current_user.id %>
      <%= link_to 'Edit', edit_post_path(@post) %> |
    <% end %>
    <%= link_to 'Back', "/" %>
  </div>
  <div class="col">
    <h2> Comments </h2>
    <div>
      <% @comments.each do |comment| %>
        <div>
          <p>
            <em><strong><%= User.find(comment.user_id).username %></strong> said: </em>
          </p>
          <p class="bidi_comments">
            <%= comment.body %>
          </p>
        </div>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <%= render partial: 'comments/form', locals: { comment: @comment } %>
    <% else %>
      <p><strong> Please login to continue </strong></p>
      <p><%= link_to 'Sign in', new_user_session_path %></p>
    <% end %>
  </div>
</div>