<div class="row">
    <div class="column">
        <h1 style="margin-right:50px;"> <%= @user.username %> </h1>
    </div>
    <div class="column">
        <div class="row">
            <div class="column profile_posts">
                <strong> Followers </strong>
                <p><%= @user.favorited.length %></p>
            </div>
            <div class="column profile_posts">
                <strong>  Followings </strong>
                <p><%= @user.favorites.length %></p>
            </div>
            <div class="column profile_posts">
                <strong> Posts </strong>
                <p><%= @user.posts.length %></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <% pre_follow = @user.favorited.find {|follower| follower.favoritor_id == current_user.id} %>
    <% if @user.id != current_user.id %>
        <% if current_user.favorited?@user %>
            <%= link_to 'Unfollow', "/profile/#{@user.id}/follows/#{pre_follow.id}", :method => :delete %>
        <% else %>
            <%= link_to 'Follow', profile_follows_path(@user), :method => :post %>
        <% end %>
    <%end %>
</div>

<div class="row">
    <% @posts.each do |post| %>
        <div class="column-sm profile_posts">
        <a href="/posts/<%= post.id %>"><img src="<%= post.image %>" width=256 height=256></a>
        </div>
    <%  end %>
</div>